// the layout stuff
header {
  position: fixed;
  width: 100%;
  height: calc($line-height-computed * 5);
  z-index: 1;
  padding: 0 $line-height-computed;
}

main {
  position: relative;
  top: calc($line-height-computed * 5);
  padding: $line-height-computed;
  z-index: 0;
  nav {
    height: calc($line-height-computed * 3);
  }
  &.content {
    margin-top: 3rem;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  &.three {
    grid-template-columns: repeat(3, 1fr);
  }
  &.five {
    grid-template-columns: repeat(5, 1fr);
  }
  &.six {
    grid-template-columns: repeat(6, 1fr);
  }
  &.twelve {
    grid-template-columns: repeat(12, 1fr);
  }
}

.card {
  border-radius: 0.123rem;
  padding: 1rem;
  margin: 0.75rem 0;
  height: calc($line-height-computed * 5.9);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
